@font-face {
  font-family: 'monoidbold';
  src: url("../fonts/monoid-bold-webfont.eot");
  src: url("../fonts/monoid-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/monoid-bold-webfont.woff2") format("woff2"), url("../fonts/monoid-bold-webfont.woff") format("woff"), url("../fonts/monoid-bold-webfont.ttf") format("truetype"), url("../fonts/monoid-bold-webfont.svg#monoidbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monoiditalic';
  src: url("../fonts/monoid-italic-webfont.eot");
  src: url("../fonts/monoid-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/monoid-italic-webfont.woff2") format("woff2"), url("../fonts/monoid-italic-webfont.woff") format("woff"), url("../fonts/monoid-italic-webfont.ttf") format("truetype"), url("../fonts/monoid-italic-webfont.svg#monoiditalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monoidregular';
  src: url("../fonts/monoid-regular-webfont.eot");
  src: url("../fonts/monoid-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/monoid-regular-webfont.woff2") format("woff2"), url("../fonts/monoid-regular-webfont.woff") format("woff"), url("../fonts/monoid-regular-webfont.ttf") format("truetype"), url("../fonts/monoid-regular-webfont.svg#monoidregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'monoidretina';
  src: url("../fonts/monoid-retina-webfont.eot");
  src: url("../fonts/monoid-retina-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/monoid-retina-webfont.woff2") format("woff2"), url("../fonts/monoid-retina-webfont.woff") format("woff"), url("../fonts/monoid-retina-webfont.ttf") format("truetype"), url("../fonts/monoid-retina-webfont.svg#monoidretina") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 58, ../scss/style.scss */
html, body {
  background-color: #1e1e1e;
  margin: 0;
  height: 100%;
}

/* line 64, ../scss/style.scss */
input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 15px;
  border-radius: 10px;
  overflow: hidden;
  outline: none;
}

/* line 76, ../scss/style.scss */
* {
  font-family: 'monoidregular', sans-serif;
  font-weight: 100;
}

/* line 81, ../scss/style.scss */
label {
  color: white;
  font-size: 12px;
}

/* line 86, ../scss/style.scss */
select {
  width: 100% !important;
  color: white;
  padding: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  background-color: rgba(50, 50, 50, 0.89);
  border: 1px solid #3296c8;
  background-image: url("../images/Dropdown.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center right;
}

/* line 101, ../scss/style.scss */
select:focus {
  background-color: #3296c8;
  background-image: url("../images/Dropdown-White.svg");
}

/* line 106, ../scss/style.scss */
.control {
  position: relative;
}

/* line 110, ../scss/style.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 100%;
}

/* All the same stuff for Firefox */
/* line 119, ../scss/style.scss */
input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 100%;
}

/* All the same stuff for IE */
/* line 127, ../scss/style.scss */
input[type=range]::-ms-thumb {
  width: 14px;
  height: 14px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 100%;
}

/* line 134, ../scss/style.scss */
input[type=range]:focus {
  background-color: #3296c8;
}

/* line 138, ../scss/style.scss */
select {
  outline: none;
}

/* line 140, ../scss/style.scss */
input {
  background-color: #646464;
  border-radius: 4px;
  border: 0;
  height: 30px;
  margin: 2px 0;
  text-align: center;
  width: 100%;
  max-width: 90px;
  color: white;
  outline: none;
}
/* line 151, ../scss/style.scss */
input:hover {
  background-color: #3296c8;
}

/* line 156, ../scss/style.scss */
.canvas {
  width: 700px;
  height: 700px;
  overflow: scroll;
  background-color: #282828;
  margin: 0 auto;
  position: fixed;
  top: 100px;
  left: 175px;
}

/* line 167, ../scss/style.scss */
.canvas svg {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 1px solid white;
}

/* line 174, ../scss/style.scss */
textarea {
  background-color: rgba(50, 50, 50, 0.89);
  border: 0;
  color: #3296c8;
  font-size: 12px;
}

/* line 181, ../scss/style.scss */
.news {
  width: 400px;
  padding: 0 20px;
  height: 400px;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 100000;
  background-color: rgba(50, 50, 50, 0.89);
  border: 1px solid #3296c8;
  border-top: 0;
}
/* line 192, ../scss/style.scss */
.news .content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 198, ../scss/style.scss */
.news .content .post {
  color: white;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid rgba(100, 100, 100, 0.5);
}
/* line 203, ../scss/style.scss */
.news .content .post img {
  display: block;
  width: 100px;
  margin: 0 auto;
}
/* line 208, ../scss/style.scss */
.news .content .post h1 {
  text-align: center;
}
/* line 211, ../scss/style.scss */
.news .content .post a {
  color: #3296c8;
  text-decoration: none;
}
/* line 217, ../scss/style.scss */
.news .top-bar {
  width: 100.5%;
}

/* line 222, ../scss/style.scss */
.navigation {
  background-color: rgba(50, 50, 50, 0.89);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
/* line 228, ../scss/style.scss */
.navigation .button {
  display: inline-block;
  padding: 0 10px;
  background-color: rgba(50, 50, 50, 0.89);
}
/* line 231, ../scss/style.scss */
.navigation .button p {
  color: white;
  margin: 0;
  padding: 5px 0;
  font-size: 12px;
}
/* line 238, ../scss/style.scss */
.navigation .button:hover {
  background-color: #3296c8;
}
/* line 242, ../scss/style.scss */
.navigation ul {
  padding: 0;
}
/* line 244, ../scss/style.scss */
.navigation ul li {
  display: block;
  font-size: 12px;
}
/* line 250, ../scss/style.scss */
.navigation #file:hover .menu-pop, .navigation #tools:hover .menu-pop, .navigation #windows:hover .menu-pop, .navigation #help:hover .menu-pop {
  display: block;
}
/* line 256, ../scss/style.scss */
.navigation #tools .menu-pop {
  left: 63px;
}
/* line 261, ../scss/style.scss */
.navigation #windows .menu-pop {
  left: 133px;
}
/* line 266, ../scss/style.scss */
.navigation #help .menu-pop {
  left: 220px;
}
/* line 271, ../scss/style.scss */
.navigation .menu-pop {
  background-color: rgba(50, 50, 50, 0.89);
  position: absolute;
  z-index: 10000;
  width: 200px;
  top: 12px;
  left: 0;
  display: none;
}
/* line 279, ../scss/style.scss */
.navigation .menu-pop li {
  color: white;
  padding: 20px;
}
/* line 282, ../scss/style.scss */
.navigation .menu-pop li:hover {
  background-color: #3296c8;
}
/* line 287, ../scss/style.scss */
.navigation .tabs {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 40px;
}
/* line 292, ../scss/style.scss */
.navigation .tabs .viewport {
  overflow: hidden;
  width: 260px;
  height: 40px;
}
/* line 297, ../scss/style.scss */
.navigation .tabs .tab {
  display: inline-block;
  padding-left: 20px;
  width: 200px;
  height: 40px;
  text-align: left;
  background-color: rgba(80, 80, 80, 0.89);
  color: white;
  float: left;
  position: relative;
  font-size: 12px;
}
/* line 308, ../scss/style.scss */
.navigation .tabs .tab span {
  line-height: 40px;
}
/* line 311, ../scss/style.scss */
.navigation .tabs .tab:hover {
  background-color: rgba(90, 90, 90, 0.8);
}
/* line 314, ../scss/style.scss */
.navigation .tabs .tab .tab-close {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  text-decoration: none;
  display: block;
  width: 40px;
  height: 100%;
  line-height: 40px;
  background-image: url("http://imgh.us/Cross_6.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  background-color: rgba(50, 50, 50, 0.4);
}
/* line 329, ../scss/style.scss */
.navigation .tabs .tab .tab-close:hover {
  background-color: rgba(50, 50, 50, 0.89);
}
/* line 334, ../scss/style.scss */
.navigation .tabs .current {
  background-color: #3296c8;
}
/* line 336, ../scss/style.scss */
.navigation .tabs .current:hover {
  background-color: #3296c8;
}
/* line 340, ../scss/style.scss */
.navigation .tabs .add {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  background-color: rgba(50, 50, 50, 0.89);
  background-size: 50%;
  background-position: center;
  background-image: url("http://imgh.us/Plus_11.svg");
  background-repeat: no-repeat;
  background-size: 54%;
  background-position: center;
}
/* line 352, ../scss/style.scss */
.navigation .tabs .add:hover {
  background-color: rgba(50, 50, 50, 0.8);
}
/* line 355, ../scss/style.scss */
.navigation .tabs .add a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 10px;
  color: white;
}

/* line 367, ../scss/style.scss */
.tool-bar {
  border: 1px solid #3296c8;
  border-radius: 0 0 4px 4px;
  background-color: rgba(50, 50, 50, 0.89);
  padding: 20px;
  position: fixed;
  box-shadow: 0 0 20px -5px;
  top: 130px;
  left: 10px;
  z-index: 1;
  width: 90px;
  max-height: 300px;
}
/* line 379, ../scss/style.scss */
.tool-bar p {
  color: white;
  margin: 0;
}

/* line 382, ../scss/style.scss */
.brush-bar {
  border: 1px solid #3296c8;
  border-radius: 0 0 4px 4px;
  background-color: rgba(50, 50, 50, 0.89);
  padding: 20px;
  position: fixed;
  box-shadow: 0 0 20px -5px;
  top: 380px;
  left: 10px;
  z-index: 1;
  width: 90px;
  font-size: 12px;
  max-height: 300px;
}
/* line 395, ../scss/style.scss */
.brush-bar p {
  color: white;
  margin: 0;
}

/* line 398, ../scss/style.scss */
.about {
  width: 500px;
  height: 270px;
  display: none;
  background-color: rgba(50, 50, 50, 0.89);
  z-index: 100000;
  position: absolute;
  top: 100px;
  left: 100px;
  border-bottom: 1px solid #3296c8;
  border-left: 1px solid #3296c8;
  border-right: 1px solid #3296c8;
  padding: 20px;
  text-align: center;
  color: white;
}
/* line 413, ../scss/style.scss */
.about .button {
  color: white;
  padding: 10px;
  border: 1px solid #3296c8;
  text-decoration: none;
  border-radius: 4px;
}
/* line 419, ../scss/style.scss */
.about .button:hover {
  background-color: #3296c8;
}
/* line 423, ../scss/style.scss */
.about img {
  width: 100px;
  margin: 0 auto;
  display: block;
}
/* line 428, ../scss/style.scss */
.about h1 {
  margin: 0;
}
/* line 431, ../scss/style.scss */
.about .top-bar {
  width: 100.3%;
}

/* line 436, ../scss/style.scss */
.top-bar {
  box-shadow: 0 0px 30px -10px black;
  color: white;
  background-color: #3296c8;
  position: absolute;
  top: -30px;
  left: -1px;
  width: 101.5%;
  height: 30px;
}
/* line 445, ../scss/style.scss */
.top-bar p {
  margin: 0;
  text-align: left;
  margin-left: 10px;
  line-height: 30px;
  color: white;
  font-size: 12px;
}
/* line 453, ../scss/style.scss */
.top-bar .close {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #5abefa;
  background-image: url("http://imgh.us/Cross_6.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 465, ../scss/style.scss */
.top-bar .close:hover {
  background-color: #288cdc;
}

/* line 471, ../scss/style.scss */
.canvas-settings {
  border: 1px solid #3296c8;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 20px -5px;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.89);
  position: fixed;
  z-index: 1;
  bottom: 170px;
  right: 10px;
  width: 300px;
  height: 50px;
}
/* line 483, ../scss/style.scss */
.canvas-settings .top-bar {
  width: 100.5%;
}

/* line 488, ../scss/style.scss */
.brush-properties-bar {
  border: 1px solid #3296c8;
  border-radius: 0 0 4px 4px;
  background-color: rgba(50, 50, 50, 0.89);
  padding: 20px;
  position: fixed;
  box-shadow: 0 0 20px -5px;
  top: 610px;
  left: 10px;
  z-index: 1;
  width: 90px;
  max-height: 300px;
}
/* line 500, ../scss/style.scss */
.brush-properties-bar p {
  color: white;
}

/* line 503, ../scss/style.scss */
.color-pick {
  border: 1px solid #3296c8;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 20px -5px;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.89);
  position: fixed;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 85px;
}
/* line 515, ../scss/style.scss */
.color-pick .top-bar {
  width: 100.5%;
}
/* line 518, ../scss/style.scss */
.color-pick input {
  color: white;
}
/* line 521, ../scss/style.scss */
.color-pick .middle {
  margin: 0 3px;
}
/* line 524, ../scss/style.scss */
.color-pick select {
  margin-bottom: 10px;
}
/* line 527, ../scss/style.scss */
.color-pick svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 534, ../scss/style.scss */
.information {
  bottom: 0;
  position: fixed;
}
/* line 537, ../scss/style.scss */
.information p {
  color: #464646;
  font-size: 62px;
  margin: 0 20px;
}

/* line 544, ../scss/style.scss */
.hidden {
  display: none;
}

/* line 548, ../scss/style.scss */
.cover {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.89);
  position: fixed;
  float: left;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 10000000;
}
/* line 559, ../scss/style.scss */
.cover input[type='text'] {
  display: inline-block;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #3296c8;
  padding: 6px 20px;
  margin: 0;
  vertical-align: bottom;
  max-width: 175px !important;
  text-align: left;
}
/* line 570, ../scss/style.scss */
.cover .button {
  padding: 10px 20px;
  display: inline-block;
  background-color: #3296c8;
  color: white;
  max-width: 100px;
  text-decoration: none;
}
/* line 577, ../scss/style.scss */
.cover .button:hover {
  background-color: rgba(50, 50, 50, 0.89);
}
/* line 581, ../scss/style.scss */
.cover .close-export {
  width: 50px;
  height: 50px;
  background-image: url("http://imgh.us/Cross_6.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block;
}
/* line 591, ../scss/style.scss */
.cover #export {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  border: 1px solid #3296c8;
  outline: none;
}
