@font-face {
    font-family: 'monoidbold';
    src: url('../fonts/monoid-bold-webfont.eot');
    src: url('../fonts/monoid-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monoid-bold-webfont.woff2') format('woff2'),
         url('../fonts/monoid-bold-webfont.woff') format('woff'),
         url('../fonts/monoid-bold-webfont.ttf') format('truetype'),
         url('../fonts/monoid-bold-webfont.svg#monoidbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'monoiditalic';
    src: url('../fonts/monoid-italic-webfont.eot');
    src: url('../fonts/monoid-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monoid-italic-webfont.woff2') format('woff2'),
         url('../fonts/monoid-italic-webfont.woff') format('woff'),
         url('../fonts/monoid-italic-webfont.ttf') format('truetype'),
         url('../fonts/monoid-italic-webfont.svg#monoiditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'monoidregular';
    src: url('../fonts/monoid-regular-webfont.eot');
    src: url('../fonts/monoid-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monoid-regular-webfont.woff2') format('woff2'),
         url('../fonts/monoid-regular-webfont.woff') format('woff'),
         url('../fonts/monoid-regular-webfont.ttf') format('truetype'),
         url('../fonts/monoid-regular-webfont.svg#monoidregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'monoidretina';
    src: url('../fonts/monoid-retina-webfont.eot');
    src: url('../fonts/monoid-retina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monoid-retina-webfont.woff2') format('woff2'),
         url('../fonts/monoid-retina-webfont.woff') format('woff'),
         url('../fonts/monoid-retina-webfont.ttf') format('truetype'),
         url('../fonts/monoid-retina-webfont.svg#monoidretina') format('svg');
    font-weight: normal;
    font-style: normal;

}

$Window-Tab: rgba(80, 80, 80, 0.89);
$Window-Main: rgba(50, 50, 50, 0.89);
$Window-Top: rgb(50, 150, 200);
$Window-Close: rgb(90, 190, 250);
$Window-Close-Hover: rgb(40, 140, 220);
$Window-Index: 1;
$Window-Padding: 20px;

html, body{
	background-color: rgb(30, 30, 30);
	margin: 0;
	height: 100%;
}

input[type='range']{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	height: 15px;
	border-radius: 10px;
	overflow: hidden;
	outline: none;
}

*{
	font-family: 'monoidregular', sans-serif;
	font-weight: 100;
}

label{
	color: white;
	font-size: 12px;
}

select{
	width: 100% !important;
	color: white;
	padding: 5px;
	-webkit-appearance: none;
	appearance: none;
	width: 100px;
	background-color: $Window-Main;      
	border: 1px solid $Window-Top;
	background-image: url('../images/Dropdown.svg');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center right;
}

select:focus{
	background-color: $Window-Top;
	background-image: url('../images/Dropdown-White.svg');
}

.control{
	position: relative;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
	background-color: rgba(200, 200, 200, 0.8);
	border-radius: 100%;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
	width: 14px;
	height: 14px;
	background-color: rgba(200, 200, 200, 0.8);
	border-radius: 100%;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
	width: 14px;
	height: 14px;
	background-color: rgba(200, 200, 200, 0.8);
	border-radius: 100%;
}

input[type=range]:focus{
	background-color: $Window-Top;
}

select{outline: none;}

input{
	background-color: rgb(100, 100, 100);
	border-radius: 4px;
	border: 0;
	height: 30px;
	margin: 2px 0;
	text-align: center;
	width: 100%;
	max-width: 90px;
	color: white;
	outline: none;
	&:hover{
		background-color:$Window-Top;
	}
}

.canvas{
	width: 700px;
	height: 700px;
	overflow: scroll;
	background-color: rgb(40, 40, 40);
	margin: 0 auto;
	position: fixed;
	top: 100px;
	left: 175px;
}

.canvas svg{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border: 1px solid white;
}

textarea{
	background-color: $Window-Main;
	border: 0;
	color: $Window-Top;
	font-size: 12px;
}

.news{
	width: 400px;
	padding: 0 20px;
	height: 400px;
	position: absolute;
	top: 30%;
	left: 30%;
	z-index: 100000;
	background-color: $Window-Main;
	border: 1px solid $Window-Top;
	border-top: 0; 
	.content{
		width: 100%;
		height: 100%;
		position: relative;
		overflow-x: hidden;
		overflow-y: scroll;
		.post{
			color: white;
			width: 100%;
			overflow: hidden;
			border-bottom: 2px solid rgba(100, 100, 100, 0.5);
			img{
				display: block;
				width: 100px;
				margin: 0 auto;
			}
			h1{
				text-align: center;
			}
			a{
				color: $Window-Top;
				text-decoration: none;
			}
		}
	}
	.top-bar{
		width: 100.5%
	}
}

.navigation{
	background-color: $Window-Main;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	.button{
		display: inline-block;
		padding: 0 10px;
		p{
			color: white;
			margin: 0;
			padding: 5px 0;
			font-size: 12px;
		}
		background-color: $Window-Main;
		&:hover{
			background-color: $Window-Top;
		}
	}
	ul{
		padding: 0;
		li{
			display: block;
			font-size: 12px;
		}
	}
	#file, #tools, #windows, #help{
		&:hover .menu-pop{
			display: block;
		}
	}

	#tools{
		.menu-pop{
			left: 63px;
		}
	}
	#windows{
		.menu-pop{
			left: 133px;
		}
	}
	#help{
		.menu-pop{
			left: 220px;
		}
	}

	.menu-pop{
		background-color: $Window-Main;
		position: absolute;
		z-index: 10000;
		width: 200px;
		top: 12px;
		left: 0;
		display: none;
		li{
			color: white;
			padding: 20px;
			&:hover{
				background-color: $Window-Top;
			}
		}
	}
	.tabs{
		overflow-x: scroll;
		overflow-y: hidden;
		width: 100%;
		height: 40px;
		.viewport{
			overflow: hidden;
			width: 260px;
			height: 40px;
		}
		.tab{
			display: inline-block;
			padding-left: 20px;
			width: 200px;
			height: 40px;
			text-align: left;
			background-color: $Window-Tab;
			color: white;
			float:left;
			position: relative;
			font-size: 12px;
			span{
				line-height: 40px;
			}
			&:hover{
				background-color: rgba(90, 90, 90, 0.8);
			}
			.tab-close{
				position: absolute;
				top: 0px;
				right: 0px;
				color: white;
				text-decoration: none;
				display: block;
				width: 40px;
				height: 100%;
				line-height: 40px;
				background-image: url('http://imgh.us/Cross_6.svg');
				background-repeat: no-repeat;
				background-size: 30%;
				background-position: center;
				background-color: rgba(50, 50, 50, 0.4);
				&:hover{
					background-color: $Window-Main;
				}
			}
		}
		.current{
			background-color: $Window-Top;
			&:hover{
				background-color: $Window-Top;
			}
		}
		.add{
			width: 40px;
			height: 40px;
			display: inline-block;
			position: relative;
			background-color: $Window-Main;
			background-size: 50%;
			background-position: center;
			background-image: url('http://imgh.us/Plus_11.svg');
			background-repeat: no-repeat;
			background-size: 54%;
			background-position: center;
			&:hover{
				background-color: rgba(50, 50, 50, 0.8);
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
				text-align: center;
				line-height: 10px;
				color: white;
			}
		}
	}
}

.tool-bar{
	border: 1px solid $Window-Top;
	border-radius: 0 0 4px 4px;
	background-color: $Window-Main;
	padding: $Window-Padding;
	position: fixed;
	box-shadow: 0 0 20px -5px;
	top: 130px;
	left: 10px;
	z-index: $Window-Index;
	width: 90px;
	max-height: 300px;
	p{color: white;margin:0;}
}

.brush-bar{
	border: 1px solid $Window-Top;
	border-radius: 0 0 4px 4px;
	background-color: $Window-Main;
	padding: $Window-Padding;
	position: fixed;
	box-shadow: 0 0 20px -5px;
	top: 380px;
	left: 10px;
	z-index: $Window-Index;
	width: 90px;
	font-size: 12px;
	max-height: 300px;
	p{color: white;margin:0;}
}

.about{
	width: 500px;
	height: 270px;
	display: none;
	background-color: $Window-Main;
	z-index: 100000;
	position: absolute;
	top: 100px;
	left: 100px;
	border-bottom: 1px solid $Window-Top;
	border-left: 1px solid $Window-Top;
	border-right: 1px solid $Window-Top;
	padding: 20px;
	text-align: center;
	color: white;
	.button{
		color: white;
		padding: 10px;
		border: 1px solid $Window-Top;
		text-decoration: none;
		border-radius: 4px;
		&:hover{
			background-color: $Window-Top;
		}
	}
	img{
		width: 100px;
		margin: 0 auto;
		display: block;
	}
	h1{
		margin: 0;
	}
	.top-bar{
		width: 100.3%;
	}
}

.top-bar{
	box-shadow: 0 0px 30px -10px black;
	color: white;
	background-color: $Window-Top;
	position: absolute;
	top: -30px;
	left: -1px;
	width: 101.5%;
	height: 30px;
	p{
		margin: 0;
		text-align: left;
		margin-left: 10px;
		line-height: 30px;
		color: white;
		font-size: 12px;
	}
	.close{
		display: block;
		width: 30px;
		height: 30px;
		background-color: $Window-Close;
		background-image: url('http://imgh.us/Cross_6.svg');
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: center;
		position: absolute;
		top: 0;
		right: 0;
		&:hover{
			background-color: $Window-Close-Hover;
		}
	}
}

.canvas-settings{
	border: 1px solid $Window-Top;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 0 20px -5px;
	padding: $Window-Padding;
	background-color: $Window-Main;
	position: fixed;
	z-index: $Window-Index;
	bottom: 170px;
	right: 10px;
	width: 300px;
	height: 50px;
	.top-bar{
		width: 100.5%;
	}
}	

.brush-properties-bar{
	border: 1px solid $Window-Top;
	border-radius: 0 0 4px 4px;
	background-color: $Window-Main;
	padding: $Window-Padding;
	position: fixed;
	box-shadow: 0 0 20px -5px;
	top: 610px;
	left: 10px;
	z-index: $Window-Index;
	width: 90px;
	max-height: 300px;
	p{color: white;}
}

.color-pick{
	border: 1px solid $Window-Top;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 0 20px -5px;
	padding: $Window-Padding;
	background-color: $Window-Main;
	position: fixed;
	z-index: $Window-Index;
	bottom: 10px;
	right: 10px;
	width: 300px;
	height: 85px;
	.top-bar{
		width: 100.5%;
	}
	input{
		color: white;
	}
	.middle{
	   margin: 0 3px;
	}
	select{
		margin-bottom: 10px;
	}
	svg{
		position: absolute;
		top: 0;
		left: 0;
	}
}

.information{
	bottom: 0;
	position: fixed;
	p{
		color: rgb(70, 70, 70);
		font-size: 62px;
		margin: 0 20px;
	}
}

.hidden{
	display: none;
}

.cover{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.89);
	position: fixed;
	float: left;
	padding: 20px;
	top: 0;
	left: 0;
	z-index: 10000000;
	input[type='text']{
		display: inline-block;
		background-color: transparent;
		border-radius: 0;
		border: 1px solid $Window-Top;
		padding: 6px 20px;
		margin: 0;
	    vertical-align: bottom;
	    max-width: 175px !important;
	    text-align: left;
	}
	.button{
		padding: 10px 20px;
		display: inline-block;
		background-color: $Window-Top;
		color: white;
		max-width: 100px;
		text-decoration: none;
		&:hover{
			background-color: $Window-Main;
		}
	}
	.close-export{
		width: 50px;
		height: 50px;
		background-image: url('http://imgh.us/Cross_6.svg');
		background-position: center;
		background-size: 70%;
		background-repeat: no-repeat;
		background-color: transparent;
		display: block;
	}
	#export{
		width: 50%;
		height: 50%;
		margin: 0 auto;
		position: relative;
		background-color: transparent;
		border: 1px solid $Window-Top;
		outline: none;
	}
}